* {
margin: 0;
padding: 0;
}


table {
  border-collapse: collapse;
  width: 500px;
  height: 541px;
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 0;
  border: 8px solid white;
  }

  td {
  border: 6px solid #000;

}



