

table, tr, td {
    margin: 0;
    padding: 0;
    border: 8px solid black;
    border-collapse: collapse;
    color: #ff5a30;
}

table {
    width: 500px;
    height: 541px;
    border: 10px solid white;
}

td{
    width: 60px;
}

tr {
    height: 60px;
}

.yellow {
    background-color: #fff878;
}

.orange {
    background-color: #ff5c2b;
}

.blue {
    background-color: #0b4a85;
}

.black {
    background-color: #242324;
}


